/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  margin-left: 10vw;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
} */
/* END RESET*/
/* HEADER STYLES */
.header {
  /* margin: 0 50 0 50; */
}

.header-nav {
  float: none;
  margin: 50 0 0 5%;
  padding: 0vh 0px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: black;
}
.header-nav img {
  height: 100;
  width: 100;
  border: 0;
}
.header-nav:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*
 .header-nav > li:first-child a {
  color: #000;
  font-size: 16px;
}
.header-nav > li:first-child a:hover {
    color: #ed6e2f;
}
*/
.nav-links a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active  {
  background: rgba(150, 150, 150, 1);
  color: #ed6e2f;
}

/* LINK STYLES */
.link-wrapper {
  font-size: 24px;
  /* overflow: hidden; */
}
.link-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.link-box {
  display: block;
  box-sizing: border-box;
  margin: 10vh 0 10 5%;
  border: 1px solid white;
  float: left;
  font-size: 1rem;
  padding: 2%;
/*  width: 33%; */
}
.link-box ul {
  margin: 0 0 0 0;
}
/* .link-box a{
  display: block;
} */

/* FOOTER STYLES */
.footer {
  color: white;
  display: block;
  text-align: center;
  margin: 50 20 20 20;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #204060;
}
